{:remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? false
 :insert-missing-whitespace? false
 :indent-line-comments? true
 :function-arguments-indentation :cursive
 :indents {#re "^\\w" [[:inner 0]]}}