{:paths   ["src"]
 :deps    {provisdom/utility-belt {:git/url "https://github.com/Provisdom/utility-belt.git"
                                   :sha     "9e91b311d1024628ef882290d93eff1b886b7eeb"}}
 :aliases {:test            {:extra-paths ["test"]
                             :extra-deps  {orchestra/orchestra                 {:mvn/version "2020.09.18-1"}
                                           criterium/criterium                 {:mvn/version "0.4.6"}
                                           org.clojure/test.check    {:mvn/version "1.1.0"}
                                           provisdom/test            {:git/url "https://github.com/Provisdom/test.git"
                                                                      :sha     "0727c0746a455b105461cdcb36cc0ddbbac8d7ad"}
                                           com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}}
           :test-cljs       {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.8"}}}
           :test-clj-runner {:extra-deps {lambdaisland/kaocha           {:mvn/version "1.0.732"}
                                          lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}
                             :main-opts  ["-m" "cognitect.test-runner"]}}}